@CHARSET "UTF-8";




#header {/* 
  border : 1px solid red; */
  height : 100px;
  background-image : url(bg1.jpeg);
  background-position : -340px -920px;
}

#musicList {
	/* 
  border : 1px solid green; */
  background : #C1F7F4;
  line-height : 2em;
	width : 150px;
	float : left;
	border-radius :20px 0 0 20px;
	margin : 10px;
	
}

#content {/* 
  border : 1px solid blue; */
  line-height : 2em;
  margin-left : 170px;
}

#footer {
	clear :left;/* 
  border : 1px solid black; */
  text-align : center;
}

#logo {
/* 	border :1px solid red; */
	float : left;
}
#menubar {
/*   border :1px solid red; */
	width : 400;
	float : right;
	
}
#user {
  position : relative;
  top : -30px;/* 
	border : 1px solid red; */
	padding : 0px;
}
#user > img {
	border-radius:7px;
}

#userName {/* 
	border: 1px solid red; */
  position: relative;
  margin-left: 5px;
  top : -30px;
}