@CHARSET "UTF-8";
#wrap{
 padding-top:10%;
 margin :0px auto;
 width: 68%;
	font-family:sans-serif;
}

#CodeAdd{
	width : 10%;
	float : right;	
} 

#checkPwd{
	margin-left : 23%;
}

#checkMsg{
	margin-left : 23%;
}
